.name {
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 80px;
    width: 25%;
    padding: .5em;
    
}

.post{
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 10px;
    width: 25%;
    padding: 3em;
}

.button {
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 1px;
    color: white;
    background-color: lightseagreen;
}